<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/invoice.css" />
    <link rel="icon" href="./WHITEDLOGO.png" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="salesinvoice">
      <div class="sidenv">
        <br />
        <div style="display: flex">
          <img
            src="/images/PHOTO-2023-06-19-15-50-35-removebg-preview.png"
            height="70"
            alt="#companylogo"
          />
          <!-- <h1 class="white Raleway sideh">Dankano & Sons Multiventures</h1> -->
        </div>
        <div class="w-t-s">
          <img src="/images/icons8-fix-96.png" alt="" height="170" />
        </div>
        <div>
          <a href="./fixhistory.html"
            ><button class="s-d-h">Visit Fix History</button></a
          >
        </div>
        <a
          href="https://www.flaticon.com/free-icons/online-shopping"
          title="online shopping icons"
          class="grey"
          >Online shopping icons created by Hexagon075 - Flaticon</a
        >
      </div>
      <div class="mais d-flex flex-column align-items-center">
        <form action="/fix-invoice" method="post">
          <div class="logthetable">
            <h1 class="logo">
              <img
                class="frs"
                src="/images/FIXTUL-LOGO.png"
                alt="#companylogo"
                height="100"
              />Fix <i>Invoice</i>
            </h1>
            <div class="logs">
              <div class="logs-fix">
                <input
                  type="text"
                  name="customer_name"
                  id=""
                  class="qty inputparam"
                  placeholder="customer name"
                  required
                />
                <input
                  type="tel"
                  name="customer_number"
                  id=""
                  class="qty inputparam lwt"
                  placeholder=" (+234) Customer Number"
                  required
                />
              </div>
              <div class="logs-fix">
                <input
                  type="text"
                  name="attendant_name"
                  id=""
                  class="inputparam qty"
                  placeholder="Attendant Name"
                />
                <input
                  type="text"
                  name="engineer_name"
                  id=""
                  class="inputparam"
                  placeholder="Engineer Name"
                />
              </div>
              <div class="logs-fix">
                <select name="device" class="inputparam">
                  <option value="null">Select Device</option>
                  <option value="phone">Phone</option>
                  <option value="laptop">Laptop</option>
                  <option value="phone and laptop">Phone and Laptop</option>
                </select>
                <input
                  type="text"
                  name="device_name"
                  id=""
                  class="inputparam qty"
                  placeholder="Enter Device Name"
                  required
                />
              </div>
            </div>
            <br />
            <div class="purchasebadge">
              <div class="logs">
                <input
                  type="text"
                  placeholder="i.e Fix completed and device is returned in good condition "
                  class="qty inputparam left description"
                  name="description"
                />
                <input
                  type="text"
                  placeholder="₦ Amount Paid"
                  class="qty inputparam left"
                  name="amount_paid"
                />
              </div>
              <br />
              <div class="">
                <button type="submit" class="Scts waybill">
                  Create Invoice
                </button>
                <button class="Scts waybill">
                  <a href="/reciept">Print Receipt</a>
                </button>
                <button class="Scts waybill">Update Fix Invoice</button>
                <button class="Scts waybill">
                  <a href="/salesinvo"> Cancel Invoice</a>
                </button>
                <button class="Scts waybill">
                  <a href="/">Go to Home Page</a>
                </button>
                <button class="Scts waybill hide">
                  <a href="/saleshistory">Visit Sale History</a>
                </button>
              </div>
              <br />
              <p style="margin-left: 20px">
                If Devices are More Than two for the same customer<b>
                  You may use Update Fix Invoice button</b
                >
              </p>
            </div>
          </div>
        </form>
        <% if (!saved) { %>
            <script>
              swal({
                title: "Error!",
                text: "Failed to create invoice. Please try again.",
                icon: "error",
                button: false,
                });
            </script>
        <% } %>
        
      </div>
    </div>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <script>

    </script>

  </body>
</html>
