<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/invoice.css">
    <link rel="icon" href="./WHITEDLOGO.png">
    <title>Document</title>
</head>
<body>
    <div class="salesinvoice">
        <div class="sidenv"> <br>
             <div style="display: flex;">
            <img src="/images/PHOTO-2023-06-19-15-50-35-removebg-preview.png" height="70" alt="#companylogo">
            <!-- <h1 class="white Raleway sideh">Dankano & Sons Multiventures</h1> -->
        </div>
            <div class="w-t-s">
                <img src="/images/icons8-fix-96.png" alt="" height="170">
            </div>
            <div>
                <a href="./fixhistory.html" ><button class="s-d-h" >Visit Fix History</button></a>
            </div>
            <a href="https://www.flaticon.com/free-icons/online-shopping" title="online shopping icons" class="grey">Online shopping icons created by Hexagon075 - Flaticon</a>
        </div>
        <div class="mais">
            <div class="logthetable">
                 <h1 class="logo"> <img class="frs" src="/images/FIXTUL-LOGO.png" alt="#companylogo" height="100">Fix <i>Invoice</i></h1>
                    <div class="logs">
                        <div class="logs-fix">
                            <input type="text" name="" id="" class="qty inputparam" placeholder="customer name">
                            <input type="tel" name="" id="" class=" qty inputparam lwt" placeholder=" (+234) Customer Number">
                        </div>
                        <div class="logs-fix">
                            <input type="text" name="" id="" class="inputparam qty" placeholder="Attendant Name">
                            <input type="text" name="" id="" class="inputparam" placeholder="Engineer Name">
                        </div>
                        <div class="logs-fix">   
                            <select name="" class="inputparam">
                                <option value="">Select Device</option>
                                    <option value="">Phone</option>
                                    <option value="">Laptop</option>
                                    <option value="">Phone and Laptop</option>
                                    <input type="text" name="" id="" class="inputparam qty" placeholder="Enter Device Name">
                            </select>
                        </div>
                    </div> <br>
                    <div class="purchasebadge">    
                        <div class="logs">
                            <input type="text" placeholder="i.e Fix completed and device is returned in good condition " class="qty inputparam left description">
                            <input type="text" placeholder="₦ Amount Paid" class="qty inputparam left">
                        </div> <br>
                            <div class="">
                                <button class="Scts waybill"><a href="./reciept.html">Print Receipt</a> </button>
                                <button class="Scts waybill">Update Fix Invoice</button>
                                <button class="Scts waybill"><a href="./salesinvo.html"> Cancle Invoice</a></button>
                                <button class="Scts waybill"> <a href="./invoice.html">Go to Home Page</a></button>
                                <button class="Scts waybill hide"> <a href="./saleshistory.html">Visit Sale History</a></button>
                            </div><br>
                            <p style="margin-left: 20px;">If Devices are More Than two for the same customer<b> You may use Update Fix Invoice button</b></p>
                    </div>
             </div>
            
        </div>
    </div>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</body>
</html>