<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/invoice.css">
</head>
<body>
    <span class="bod"> <h1 class="Raleway">This Page is not Available for this Screen Size</h1></span>
    <div class="body2">
        <div class="cart-d-logo">
            <img src="/images/FIXTUL-LOGO.png" alt="#companylogo" height="100">
            <span> <h1 class="Raleway">Fixtul Nigeria </h1></span>
            <p class="taskhead">Please Select a Task</p>
        </div>
        <div class="task-board">
            <a href="/fixinvo">
                <div class="cards">
                <div class="log">
                    <img src="/images/icons8-ellipsis-30.png" height="15" alt="">
                </div>
                <div class="image">
                    <img src="/images/icons8-fix-96.png" alt="#sales" height="80">
                </div>
                <div class="text">
                    <h3 class="header">Fix Invoice</h3>
                    <p class="left">Record Completed Gadget Fix and issue customer invoice in Fix Invoice</p>
                </div>
                </div>
            </a>
            <a href="/salesin">
            <div class="cards">
                <div class="log">
                    <img src="/images/icons8-ellipsis-30.png" height="15" alt="">
                </div>
                <div class="image">
                    <img src="/images/icons8-credit-control-96.png" alt="" height="80">
                </div>
                <div class="text">
                    <h3 class="header">Sales Invoice</h3>
                    <p class="left">Record Gadget Sales and issue customer reciept in Sales invoice</p>
                </div>
            </div>
        </a>
        <a href="/saleshistory">
            <div class="cards">
                <div class="log">
                    <img src="/images/icons8-ellipsis-30.png" height="15" alt="">
                </div>
                <div class="image">
                    <img src="/images/icons8-history-folder-94.png" alt="" height="80">
                </div>
                <div class="text">
                    <h3 class="header">Sales History</h3>
                    <p class="left">View Purchase history and sales legend in Sales History</p>
                </div>
            </div>
        </a>
        <a href="/fixhistory">
            <div class="cards">
                <div class="log">
                    <img src="/images/icons8-ellipsis-30.png" height="15" alt="" height="80">
                </div>
                <div class="image">
                    <img src="/images/icons8-activity-history-64 (1).png" alt="" height="80">
                </div>
                <div class="text">
                    <h3 class="header">Fix History</h3>
                    <p class="left">View customer Fix in Fix history</p>
                </div>
            </div>
            </a>
           
        </div>
        <div>
            
        </div>
        <a href="/user/logout"><button class="waybill"><p>Log Out</p></button></a>
    </div>
</body>
</html>