<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/invoice.css">
    <link rel="icon" href="/images/WHITEDLOGO.png">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Debit History</title>
</head>
<body>
    <div class="salesinvoice">
        <div class="sidenv"><br>
          <div style="display: flex;">
         <img src="/images/PHOTO-2023-06-19-15-50-35-removebg-preview.png" height="80" alt="#companylogo">
     </div>
          <div class="w-t-s">
                <img src="/images/credit-card.png" alt="" height="200">
            </div>
            <div>
                <button class="butts">Product Sold appears in the Sales history, click the Transaction column to view Transaction details.</button>            </div>
            <a href="https://www.flaticon.com/free-icons/online-shopping" title="online shopping icons" class="grey">Online shopping icons created by Hexagon075 - Flaticon</a>
        </div>
        <div class="mais">
            <div class="logthetable">
                 <h1 class="logo"><img class="frs" src="/images/FIXTUL-LOGO.png" alt="#companylogo" height="100"> Sale <i>History</i></h1>
                 <input type="text" id="searchInput" class="form-control mb-3" placeholder="Search for Customer names...">
                 <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">S/N</th>
                      <th scope="col">Customer Name</th>
                      <th scope="col">Sale</th>
                      <th scope="col">Date</th>
                      <th scope="col">Transaction</th>
                    </tr>
                  </thead>
                  <tbody id="tableBody">
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>₦ 60,000</td>
                      <td>October 9 2023</td>
                      <td><a href="/Invoicedetail">Iphone  7...</a> </td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Mark</td>
                      <td>₦ 70,000</td>
                      <td>October 9 2023</td>
                      <td><a href="/Invoicedetail">Iphone 12 Pro ...</a> </td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Mark</td>
                      <td>₦ 600,000</td>
                      <td>October 9 2023</td>
                      <td><a href="/Invoicedetail">Macbook Pro...</a> </td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>CHIOMA EBUBE</td>
                      <td>₦ 600,000</td>
                      <td>October 9 2023</td>
                      <td><a href="/Invoicedetail">Hp Laptop ...</a> </td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>TOPE AKINBODE</td>
                      <td>₦ 600,000</td>
                      <td>October 9 2023</td>
                      <td><a href="/Invoicedetail">Dell Laptop ...</a> </td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Mark</td>
                      <td>₦ 600,000</td>
                      <td>October 9 2023</td>
                      <td><a href="/Invoicedetail">Macbook Pro 2024 ...</a> </td>
                    </tr>  
                  </tbody>
                </table>
                        </div> <br>
                            <div class="logs left shift">
                                <button class="Scts"> <a href="/">Home</a></button>
                            </div>
                    </div>
             </div>
            
        </div>
    </div>
  <script src="./invoice.js"></script>
</body>
</html>