<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/invoice.css">
    <link rel="icon" href="/images/WHITEDLOGO.png">
    <title>Document</title>
</head>
<body>
    <div class="salesinvoice">
        <div class="sidenv"><br>
            <div style="display: flex;">
           <img src="/images/PHOTO-2023-06-19-15-50-35-removebg-preview.png" height="80" alt="#companylogo">
            </div>
            <div class="w-t-s">
                <img src="/images/credit-card.png" alt="" height="200">
            </div>
            <div>
                <a href="./saleshistory.html" ><button class="s-d-h" >Visit Sales History</button></a>
            </div> <br>
            <a href="https://www.flaticon.com/free-icons/credit-card" title="credit card icons" class="grey">Credit card icons created by Freepik - Flaticon</a>
        </div>
        <div class="mais">
            <div class="logthetable">
                 <h1 class="logo"> <img class="frs" src="./FIXTUL-LOGO.png" alt="#companylogo" height="90"> Sales <i>Invoice</i></h1>
                    <div class="logs">
                        <input type="text" name="" id="" class=" qty inputparam" placeholder=" Enter Customer name">
                          <div class="logs-fix">
                            <input type="text" name="" id="" class=" inputparam" placeholder=" Enter Attendant Name">
                            <input type="tel" name="" id="" class=" qty inputparam" placeholder=" (+234) Enter Customer Number">
                        </div>
                        <input type="text" placeholder="Enter Product Name"  class="qty inputparam">
                            <input type="text" placeholder="Product Description" class="qty inputparam">
                            <input type="number" placeholder="₦ Price" class="qty inputparam">
                    </div> <br>
                    <div class="purchasebadge">    
                         <br>
                            <div class="">
                                <button class="Scts waybill"><a href="./reciept.html">Print Receipt</a> </button>
                                <button class="Scts waybill">Add Product</button>
                                <button class="Scts waybill"> Cancle Purchase</button>
                                <button class="waybill Scts"> <a href="./invoice.html">Go to Home Page</a></button>
                                <button class="Scts waybill hide"> <a href="./saleshistory.html">Visit Sales History</a></button>

                            </div><br>
                            <p style="margin-left: 20px;">Please Confirm all product are in best conditon <b>before  issuing reciept to the customer</b></p>
                    </div>
             </div>
            
        </div>
    </div>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</body>
</html>