<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/invoice.css" />
    <link rel="icon" href="/images/WHITEDLOGO.png" />
    <title>Document</title>
  </head>

  <body>
    <div class="salesinvoice">
      <div class="sidenv">
        <br />
        <div style="display: flex">
          <img
            src="/images/PHOTO-2023-06-19-15-50-35-removebg-preview.png"
            height="80"
            alt="#companylogo"
          />
        </div>
        <div class="w-t-s">
          <img src="/images/credit-card.png" alt="" height="200" />
        </div>
        <div>
          <a href="/saleshistory"
            ><button class="s-d-h">Visit Sales History</button></a
          >
        </div>
        <br />
        <a
          href="https://www.flaticon.com/free-icons/credit-card"
          title="credit card icons"
          class="grey"
          >Credit card icons created by Freepik - Flaticon</a
        >
      </div>
      <div class="mais">
        <div class="logthetable">
          <h1 class="logo">
            <img
              class="frs"
              src="/images/FIXTUL-LOGO.png"
              alt="#companylogo"
              height="90"
            />
            Sales <i>Invoice</i>
          </h1>
          <div class="logs">
            <h5 class="my-0">
              Add Product <sub style="opacity: 0.5"><%= p_length %> added</sub>
            </h5>
            <form action="/add-product" method="post">
              <input
                type="text"
                placeholder="Enter Product Name"
                class="qty inputparam my-2"
                name="name"
              />
              <input
                type="number"
                placeholder="Product Quantity"
                class="qty inputparam my-2"
                name="quantity"
              />
              <input
                type="number"
                placeholder="₦ Price"
                class="qty inputparam my-2"
                name="price"
              />
              <button type="submit" class="Scts waybill d-block">
                Add Product
              </button>
            </form>
            <form action="/add-sales-invoice" method="post">
              <h5 class="mt-4">Create Invoice</h5>
              <input
                type="text"
                name="customer_name"
                id=""
                class="qty inputparam my-2"
                placeholder=" Enter Customer name"
              />
              <div class="logs-fix">
                <input
                  type="tel"
                  name="customer_number"
                  id=""
                  class="qty inputparam my-2"
                  placeholder=" (+234) Enter Customer Number"
                />
                <input
                  type="text"
                  name="attendant_name"
                  id=""
                  class="inputparam my-2" 
                  placeholder=" Enter Attendant Name"
                />
              </div>

              <div class="purchasebadge">
                <div class="mb-2">
                  <button class="Scts waybill">Create Invoice</button>
                  <button class="Scts waybill">
                    <a href="/reciept">Print Receipt</a>
                  </button>
                  <button class="Scts waybill">Cancel Purchase</button>
                  <button class="waybill Scts">
                    <a href="/">Go to Home Page</a>
                  </button>
                  <button class="Scts waybill hide">
                    <a href="/saleshistory">Visit Sales History</a>
                  </button>
                </div>
                <p style="margin-left: 20px">
                  Please Confirm all product are in best conditon
                  <b>before issuing reciept to the customer</b>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </body>
</html>
